$fontFamily: sans-serif;
$backgroundColor: #fff;
$mainFontColor: #1FBCD6;
$articleBackgroundColor: #EFEFEF;
$postDescriptionColor: #159587;
$articleHeadersColor: #1697A6;
$bordersAndParagraphsColor: #617D8A;